html {
   /* Setting a base font size of 10px give us easier rem calculations
      Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
    */
   font-size: 10px;
 }

 header {
    text-align: center;
 }

 body {
   padding-top: 60px;
    text-align: center;
      /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  color: #333;
 }

.fixed-header {
   position: fixed;
   width: 100%;
   height: auto;
   top: 0;
   background-color: whitesmoke;
}

 .caption {
   font-size: 2rem;
   margin: 0 0 2rem 0;
 }

 ul {
   max-width: 550px;
   margin: 0 auto 50px auto;
   text-align: left;
   line-height: 1.6;
 }

#img-div {
   background: white;
   padding: 10px;
   padding-top: 50px;
   margin: 0;
}

img {
   max-width: 100%;
   max-height: 400px;
   display: block;
   height: auto;
   margin: 0 auto;
   align-self: center;
 }

#img-caption {
   margin: 20px 0 5px 0;
 }

@media (max-width:460px) {
   #title 
   {
      font-size: 3.5rem;
      line-height: 1.2;
   }
   img {
      max-width: 100%;
      max-height: 300px;
      display: block;
      height: auto;
      margin: 0 auto;
    }
}